## Programs for Python Lab.

### Basics

In [ ]:
# First Program
# You can use both double as well as single quote.
print("Hello World")

Hello World

In [ ]:
# Python uses indentation rather than brackets.
if(2 > 1):
  print("VJTI")
else:
  print("John Cena")

VJTI

In [ ]:
# This is a comment.
'''
This is a multiline comment.
'''

'\nThis is a multiline comment.\n'

### Variables

In [ ]:
# Variable Declaration.

a = 17
print(a, type(a)) # Printing the data-type of a variable.

a = 1.7
print(a, type(a))

# char is not applicable in Python.
a = 'H'
print(a, type(a))

17 <class 'int'>
1.7 <class 'float'>
H <class 'str'>

### Type Casting

In [ ]:
# Type Casting
# Case Sensitive

a = str(1)
print(a, type(a))

# int() is a constructor of class 'int'
a = int(1)
print(a, type(a))

A = str(1)
print(A, type(A))

B = float("2")
print(B, type(B))

1 <class 'str'>
1 <class 'int'>
1 <class 'str'>
2.0 <class 'float'>

### Casing

In [ ]:
# Legal Variables
# Variable name must start with character or underscore.
# Aplha-Numeric characters and underscore is allowed (A-z, 0-9, ..)

myName = 'Deep'
_myName = 'Kasodariya'
my_name = 'SureshBhai'

print(my_name)

# $myMoney = "2000" Not Allowed

instituteStudentRollNumber = 221080029 # camel Case
InstituteStudentRollNumber = 221080029 # Pascal Case
institute_student_roll_number = 221080029 # snake_case

SureshBhai

### Memory Management

In [ ]:
a = 1
b = 2
c = 3

# id() gives the memory address of the variable.
print(a, b, c, id(a), id(b), id(c))

# a1 started to point to the same memory location as a.
a1, b1, c1 = 1, 2, 3
print(a1, b1, c1, id(a1), id(b1), id(c1))

a, b, c = 1, 2.5, "Roman Reigns"
print(a, b, c, id(a), id(b), id(c))

# Swap Two Variables
a, b = b, a
print(a, b, id(a), id(b))

# It is memory efficient and does not allocate new memory if the number is already in the memory.

1 2 3 133141214019824 133141214019856 133141214019888
1 2 3 133141214019824 133141214019856 133141214019888
1 2.5 Roman Reigns 133141214019824 133140785709680 133140785973168
2.5 1 133140785709680 133141214019824

### List

In [ ]:
# Collection Value (list)
a = [1, 2, 3]
print(a, type(a))

a = [17, "Jey Uso", 83.5]
print(a, type(a))

x, y, z = a # Unpack the collection
print(x, type(x), y, type(y), z, type(z))

[1, 2, 3] <class 'list'>
[17, 'Jey Uso', 83.5] <class 'list'>
17 <class 'int'> Jey Uso <class 'str'> 83.5 <class 'float'>

In [ ]:
a = "Lesner"
print('Brock', a)

a = "Brock"
b = "Lesner"

# String Concatenation
print(a + b)
print(b + " " + a)

c = a + " " + b
print(c)

Brock Lesner
BrockLesner
Lesner Brock
Brock Lesner

### Arithmetic

In [ ]:
# Arithmetic Operations

a = 2
b = 10
print(a + b)
print(b - a)
print(b * a)

# Divison will always be float by default
print(b / a)

a = '2'
b = 10
# print(a + " " + b)

# Only multiplication works with strings.
# a will be printed 10 times
print(b * a)

12
8
20
5.0
2222222222

### Print Format

In [ ]:
# Printing Statements

a, b = 1, 2
print("The value of a = {} and the value of b = {}".format(a, b))
print(f"The value of a = {a} and the value of b = {b}")
print(F"The value of a = {a} and the value of b = {b}")

# When a is integer + will give error in print statement.
print("The value of a =", a, "the value of b =", b)

The value of a = 1 and the value of b = 2
The value of a = 1 and the value of b = 2
The value of a = 1 and the value of b = 2
The value of a = 1 the value of b = 2

### Data-Types

In [ ]:
# Different Data Types

a = 1 + 2j
print(a, type(a))

a = (1, 2, 3)
print(a, type(a))

a = True
print(a, type(a))

a = range(5)
print(a, type(a))

a = {1, 2, 3}
print(a, type(a))

a = {
    "key1" : "value1",
    "key2" : "value2",
    "key3" : "value3"
}
print(a, type(a))

(1+2j) <class 'complex'>
(1, 2, 3) <class 'tuple'>
True <class 'bool'>
range(0, 5) <class 'range'>
{1, 2, 3} <class 'set'>
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'} <class 'dict'>

In [ ]:
a = 1
print(a, type(a))

b = 123456789123456
print(b, type(b))

c = -20.9
print(c, type(c))
print()

# Output will be in float
a = 1e2
print(a, type(a))

b = 12E10
print(b, type(b))

# For c = 20.1e-6, it will the same number as output and not simplify.
c = -20.1e6
print(c, type(c))
print()

b = 10j
c = -20j
print(b, type(b))

# For negative it will be -0-20j
print(c, type(c))
print(c.real, type(c.real), c.imag, type(c.imag))

a = complex(1, 2)
print(a, type(a))

a = complex(0, 2)
print(a, type(a))
print()

a = complex(1)
print(a, type(a))

a = complex()
print(a, type(a))

a = complex("1-2j")
print(a, type(a))

1 <class 'int'>
123456789123456 <class 'int'>
-20.9 <class 'float'>

100.0 <class 'float'>
120000000000.0 <class 'float'>
-20100000.0 <class 'float'>

10j <class 'complex'>
(-0-20j) <class 'complex'>
-0.0 <class 'float'> -20.0 <class 'float'>
(1+2j) <class 'complex'>
2j <class 'complex'>

(1+0j) <class 'complex'>
0j <class 'complex'>
(1-2j) <class 'complex'>

### Import

In [ ]:
# Importing the libraries.
import math as m
help(m)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# Using the libraries
import math, random
print(math.pow(2, 3))
print(math.sqrt(289))
print(random.randrange(1.0, 500.0))

8.0
17.0
251

<ipython-input-15-303ad06dce5e>:5: DeprecationWarning: non-integer arguments to randrange() have been deprecated since Python 3.10 and will be removed in a subsequent version
  print(random.randrange(1.0, 500.0))

### Multiline

In [ ]:
a = 'Kem Cho'
b = '''Hello! My name is Kasodariya Deep.
      I go by the name of Night_Fury_17'''

print(a, type(a))
print(b, type(b))

Kem Cho <class 'str'>
Hello! My name is kasodariya Deep.
I go by the name of night_fury_17 <class 'str'>

### String Loop

In [ ]:
a = 'Hello World'
b = a[10]
print(b)

# a[10] = 'H' -> TypeError: 'str' object does not support item assignment.
print('Length of a:', len(a))
print(range(0, len(a)))

for i in range(0, len(a)):
  print(i, end = ' ')
print()

# Using end = '' because by default it goes to the new line.
for i in a:
  print(i, end = '')
print()

for i in 'Hello World':
  print(i, end = '')
print()

d
Length of a: 11
range(0, 11)
0 1 2 3 4 5 6 7 8 9 10
Hello World
Hello World

### in Usage

In [ ]:
a = 'I am Deep, currently doing DSA in Java'
print('Deep' in a)
print('j' in a)

if('Deep' in a):
  print("Present")
else:
  print("Absent")

True
False
Present

### Slicing

In [ ]:
# Slicing of String
# If we do not provide the starting point, it starts from zero.
a = 'Kem Cho! maja ma'
print(a[3:5])
print(a[0:5])
print(a[:5])
print(a[6:])

print(a[-11:-6])

# Always 1 will be added as increment
print(a[:-6:])
print(a[-5:])
print(a[:])

# Specifying the direction and increment.
# Make sure that if you specify both start and end, you provide proper direction in increment, otherwise print nothing.
print(a[0:5:2])
print(a[-5:-1:1])
print(a[-1:-6:1])
print(a[11:5:-1])

 C
Kem C
Kem C
o! maja ma
ho! m
Kem Cho! m
ja ma
Kem Cho! maja ma
KmC
ja m

jam !o

### Help

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### String Operations

In [ ]:
# Operations of String
a = 'Hello World'
print(a.upper())
print(a)

print(a.lower())
print(a)

a = '      Night Fury 17        '
a = a.strip()
print(a)

# Output of spliting is a list
# By default, it will split by a space.
a = 'Night Fury is deadly'
print(a.split(' '), type(a.split(' ')))
print(a.split('Fury'))

a = 'deep@hotmail.com'
print(a.split('@'))
print(a)

HELLO WORLD
Hello World
hello world
Hello World
Night Fury 17
['Night', 'Fury', 'is', 'deadly'] <class 'list'>
['Night ', ' is deadly']
['deep', 'hotmail.com']
deep@hotmail.com

### Escape Sequence

In [ ]:
# Escape Characters
# Ex:
# \t - Tab
# \b - Backspace
# \xhh - Hex Value
# \ooo - Octal Value
# \r - Carriage Return

a = 'It\'s time to fly.'
print(a)

a = "Night Fury \tFire <3"
print(a)

a = "Charizad, \rMy Lord"
print(a)

# So 65 gets converted to binary i.e 101. It will print e.
a = '\x65'
print(a)

# Octal -> Normal -> Ascii
a = '\111\112\113'
print(a)

It's time to fly.
Night Fury 	Fire <3
My Lord
e
IJK

### Aplha Numeric

In [ ]:
a = 'My name is Night Fury, Night Fury'
b = 'nightfury17'
c = 'nightfury'
d = '17'

print(a.count('Night Fury'))
print(a.index('Night Fury'))
print(a.isalnum())

# _ and space are not considered as alphanumeric.
print(b.isalnum())

# alpha is a subset of alnum.
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

print(a.isdigit())
print(d.isdigit())

2
11
False
True
False
False
True
False
True

In [ ]:
a = 'night$fury$17'
b = a.split('$')
print(b)

# c = b.join('$') - It will give error
c = '_'.join(b)
print(c)

# In print after , there is a space by default.
a = '            Night Fury             '
print("Hi", a.rstrip(), "How are you?")
print("Hi", a.lstrip(), "How are you?")

a = 'I am Night Fury.\nMy girl friend is Light Fury'
print(a.splitlines())
print(a.split('\n'))

print(a.startswith('I'))
print(a.endswith('.'))

# Find will not give an error and return -1. However index will give error.
print(a.find('Night'))
print(a.index('Night'))

# Fury is included unlike split. It returns a tuple of size 3.
print(a.partition('Fury'))
print(a.replace('Night', 'Light'))
print(a)

['night', 'fury', '17']
night_fury_17
Hi              Night Fury How are you?
Hi Night Fury              How are you?
['I am Night Fury.', 'My girl friend is Light Fury']
['I am Night Fury.', 'My girl friend is Light Fury']
True
False
5
5
('I am Night ', 'Fury', '.\nMy girl friend is Light Fury')
I am Light Fury.
My girl friend is Light Fury
I am Night Fury.
My girl friend is Light Fury

### Boolean

In [ ]:
# Boolean
print(10 < 5)
print(10 > 5)
print(10 == 10)

print(bool(10)) # Evaluate the value
print(bool('Hello'))

print(bool(()))
print(bool([]))
print(bool({}))

print(bool("Hello"))
print(bool(0))
print(bool(-1))

# False Values only if empty, 0, None
print(bool(""))
print(bool(None))

# Checks if the datatype is of that type specified.
a = 1.0
print(isinstance(a, int))

False
True
True
True
True
False
False
False
True
False
True
False
False
False

### Operators

In [ ]:
# Python Operators

# Int
print(10 - 3)
print(10 + 3)
print(10 + 3.0)

# Float
print(10 + 3.)
print(10 * 3)
print(10 * 3.0)
print(5 / 2)
print(4 / 2)

# Floor Division
print(53 // 24)
print(-53 // 24)

# Modulo
print(53 % 24)
print(-53 % 24) # Positive modulo of 19.

# Exponential
print(2 ** 3)

# Recurring
print(2 / 3)
print(5 / 3)

# Operator Precedence - Left to Right
# **, -- , / * // %, +-
print(212 - 32 * 5 / 9)

7
13
13.0
13.0
30
30.0
2.5
2.0
2
-3
5
19
8
0.6666666666666666
1.6666666666666667
194.22222222222223

### Assignment

In [ ]:
# Assignment Operators
a = 10
print(a)

a = 10
a += 5
print(a)

a = 10
a -= 5
print(a)

a = 10
a *= 5
print(a)

a = 10
a /= 5
print(a)

a = 10
a //= 5
print(a)

a = 10
a %= 5
print(a)

a = 10
a **= 5
print(a)

a = 2
a *= 3 + 4
print(a) # 14

a = 10
a ^= 5
print(a)

a = 10
a &= 5
print(a)

a = 10
a |= 5
print(a)

a = 8
a >>= 2
print(a)

a = 8
a <<= 2
print(a)

10
15
5
50
2.0
2
0
100000
14
15
0
15
2
32

### Comparison

In [ ]:
# Comparison
a = 1
b = 1
print(a == b)
print(a != b)

print(a < b)
print(a > b)

print(a <= b)
print(a >= b)

print(a <= 1 and b >= 10)
print(a <= 1 or b >= 10)
print(not(a <= 1 and b >= 10))

True
False
False
False
True
True
False
True
True

### List

In [ ]:
# List - V.IMP
# Ordered, Change the Elements, Duplicates Allowed, Heterogenous.
a = [1, 2, 3]
print(type(a))

b = a
print(a, b)

c = b
print(a, b, c)

# Every list will change because all points to the same member. -> MAJOR BUG
print(c[0])
c[0] = 100
print(a, b, c)

# Method to solve above issue.
a = [1, 2, 3]
b = tuple(a)
b = list(b)
print(id(a), id(b))

# It will not change the value in a.
b[0] = 100
print(a, b)

a = [1, 2, 3]
print(a[0])
print(a[-1], a[-3])

# Empty List
a = []
print(a, type(a))

a = [1, 2, 3]
b = ['1', '2', '3']
c = [True, False, True]
d = [1.2, 2.2, 3.2]
e = [1, '1', True, 100.0]
print(e)

# Constructor
a = list((1, 2, 3))
print(a, type(a))

a = [100, 20, 30, 40, 50]
# a = ['A', 'B', 'C']

# Operations on list.
print(a[:])
print(a[2:4])
print(10 in a)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(a)

a = [1, 2, 3]
b = ['Z']
c = 'Y'
print(a + b) # It will append to a, temporarily. In short it will be a single list.
print(b + a) # It will append to b, temporarily.

print(a * 2) # Print a twice

<class 'list'>
[1, 2, 3] [1, 2, 3]
[1, 2, 3] [1, 2, 3] [1, 2, 3]
1
[100, 2, 3] [100, 2, 3] [100, 2, 3]
133140785942080 133140786309696
[1, 2, 3] [100, 2, 3]
1
3 1
[] <class 'list'>
[1, '1', True, 100.0]
[1, 2, 3] <class 'list'>
[100, 20, 30, 40, 50]
[30, 40]
False
5
100
20
240
[20, 30, 40, 50, 100]
[100, 20, 30, 40, 50]
[1, 2, 3, 'Z']
['Z', 1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
a = [1, 2, 3, 4]
a.insert(0, 'A')
print(a)
print(len(a))

# Inserts at last available index.
a.insert(10, 'Z')
print(a)

a.insert(2, 100.10)
print(a)
print(len(a))

# We can assign within available index.
# a[7] = 'Fury'
# print(a)

a = [1, 2, 3, 4]
del a[0]
print(a)

a = [1, 2, 3, 4]
a.append(5)
print(a)

# Extends inserts the elements individually.
a = [1, 2, 3, 4]
b = ['x', 'y', 'z', 'w']
a.extend(b)
print(a, b)

# Append inserts the list as a whole.
a = [1, 2, 3, 4]
b = ['x', 'y', 'z', 'w']
a.append(b)
print(a, b)

# Remove gives error if element is not there.
b = ['x', 'y', 'z', 'w']
b.remove('x')
print(b)

b = ['x', 'y', 'z', 'w']
b.pop(2)
print(b)

b = ['x', 'y', 'z', 'w']
b.pop()
print(b)

b = ['x', 'y', 'z', 'w']
b.clear()
print(b)

b = ['x', 'y', 'z', 'w']
del b

b = ['z', 'y', 'x', 'w', 'z']
a = [10, 20, 30, 40, 10]
print(b.count('z'))
print(b.count('a'))
print(b.count('b'))

#  It gives error if it is not present int the list.
print(b.index('z'))
print(b.index('z', 1))
print(b.index('x', 1, 3))
print(a.index(10, 1))

a.sort()
print(a)
a.sort(reverse = True)
print(a)
a.reverse()
print(a)

['A', 1, 2, 3, 4]
5
['A', 1, 2, 3, 4, 'Z']
['A', 1, 100.1, 2, 3, 4, 'Z']
7
[2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'x', 'y', 'z', 'w'] ['x', 'y', 'z', 'w']
[1, 2, 3, 4, ['x', 'y', 'z', 'w']] ['x', 'y', 'z', 'w']
['y', 'z', 'w']
['x', 'y', 'w']
['x', 'y', 'z']
[]
2
0
0
0
4
2
4
[10, 10, 20, 30, 40]
[40, 30, 20, 10, 10]
[10, 10, 20, 30, 40]

### Loops

In [ ]:
# Loops
a = [10, 20, 30, 40, 50]
for i in a:
  print(i, end = ' ')
print()

for i in range(len(a)):
  print(a[i], end = ' ')
print()

for i in [0, 1, 2, 3, 4]:
  print(a[i], end = ' ')
print()

i = 0
while(i < len(a)):
  print(a[i], end = ' ')
  i += 1
print()

# For variable in list
# Loop block

print(list(range(5)))
print(list(range(2)))
print(list(range(0)))
print(list(range(1, 5)))
print(list(range(5, 10)))

print(list(range(500, 525, 5)))
print(list(range(500, 525, -5)))
print(list(range(525, 500, -5)))
print(list(range(525, 500, 5)))

a = [10, 21, 32, 43, 54]
x = [i for i in a if i > 25] # Comprehension
print(x)

# a will be added to x as a whole list number of times i > 25
a = [10, 21, 32, 43, 54]
x = [a for i in a if i > 25] # Comprehension
print(x)

x = []
for i in a:
  if i > 25:
      x.append(i)
print(x)

10 20 30 40 50
10 20 30 40 50
10 20 30 40 50
10 20 30 40 50
[0, 1, 2, 3, 4]
[0, 1]
[]
[1, 2, 3, 4]
[5, 6, 7, 8, 9]
[500, 505, 510, 515, 520]
[]
[525, 520, 515, 510, 505]
[]
[32, 43, 54]
[[10, 21, 32, 43, 54], [10, 21, 32, 43, 54], [10, 21, 32, 43, 54]]
[32, 43, 54]

### List of Lists

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 17.04, 'Night_Fury', [10, 20, 30], (1, 2, 3)]
print(a)
print(a[3])
print(a[5])
print(a[6])
print(a[6][1])
print(a[7], type(a), type(a[7]))
print(a[3][2])

[1, 2, 3, ['a', 'b', 'c'], 17.04, 'Night_Fury', [10, 20, 30], (1, 2, 3)]
['a', 'b', 'c']
Night_Fury
[10, 20, 30]
20
(1, 2, 3) <class 'list'> <class 'tuple'>
c

### Functions

In [ ]:
# Functions:
def addition(a, b):
  print(a + b)

x = int(input("Enter 1st No: "))
y = int(input("Enter 2nd No: "))

addition(x, y)

Enter 1st No: 2
Enter 2nd No: 3
5

In [ ]:
def addition(a, b):
  return a + b

x = int(input("Enter 1st No: "))
y = int(input("Enter 2nd No: "))

ans = addition(x, y)
print(ans)

Enter 1st No: 5
Enter 2nd No: 6
11

### Input

In [ ]:
a = input()
print(a, type(a))

a = int(input())
print(a, type(a))

a = int(input("Enter Integer Number only: "))
print(a, type(a))

Deep
Deep <class 'str'>
4
4 <class 'int'>
Enter Integer Number only: 5
5 <class 'int'>

### Miscellaneous

In [ ]:
a = 'Night_Fury'
print(a[0])

b = list(a)
c = str(b)

print(b, c)
print(c[0])
print(type(c))

print(''.join(b))

N
['N', 'i', 'g', 'h', 't', '_', 'F', 'u', 'r', 'y'] ['N', 'i', 'g', 'h', 't', '_', 'F', 'u', 'r', 'y']
[
<class 'str'>
Night_Fury

### Tuple

In [ ]:
# Tuple - Immutable

x = [1, 2, 3]
y = (1, 2, 3)
print(type(x), type(y))
print(x[0], y[0])
print(y, len(y))

# This is a list of one element.
a = [1]
print(a, type(a))

# This a belongs to class int.
a = (1)
print(a, type(a))

# To make a tuple of 1 element, put ','.
b = (1,)
print(b, type(b))

# Integer Tuple
a = (1, 2, 3, 4)
print(a, type(a))

# Boolean Tuple
a = (True, False, True, True)
print(a, type(a))

# Mixed Tuple
a = (1, 2, 0, True, "x", [10, 20, 30], (100, 200, 300))
print(a, type(a))

# Calling Constructor.
a = tuple((1, 2, 3, 4, 5, 6))
print(a, type(a))

# Accessing Tuple Elements.
print(a[0], a[-1])
print(a[2:4], a[-4:-1])
print(5 in a)
print(100 in a)

# Converting to List.
a = tuple((1, 2, 3, 4, 5, 6))
b = list(a)
b.append(1000)
print(b)

# Two append an whole tuple as an item, convert to list first.
a = (1, 2, 3, 4, 5)
b = (10,)
a += b # This is extending a with elements of b.
print(a, b)

a=(1, 2, 3, 4, 5)
print(a * 2)

# del a[0]
del b

# Iterating over Tuple.
a = (10, 20, 30, 40, 50)
for i in a:
  print(i, end = ' ')
print()

for i in range(len(a)):
  print(a[i], end = ' ')

<class 'list'> <class 'tuple'>
1 1
(1, 2, 3) 3
[1] <class 'list'>
1 <class 'int'>
(1,) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(True, False, True, True) <class 'tuple'>
(1, 2, 0, True, 'x', [10, 20, 30], (100, 200, 300)) <class 'tuple'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>
1 6
(3, 4) (3, 4, 5)
True
False
[1, 2, 3, 4, 5, 6, 1000]
(1, 2, 3, 4, 5, 10) (10,)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
10 20 30 40 50
10 20 30 40 50

### Un-Packing

In [ ]:
# Method: 1
a = [10, 20]
x, y = a
print(a, x, y, type(a), type(x), type(y))

a =  (10, 20)
x, y = a
print(a, x, y, type(a), type(x), type(y))

# Method: 2
a = (10, 20)
(x, y) = a
print(a, x, y, type(a), type(x), type(y))

# z will be of type list and the remaining elements will be in z.
a = (10, 20, 30, 40, 50)
(x, y, *z) = a
print(a, x, y, z, type(a), type(x), type(y), type(z))

# Without , it will give cannot use starred expression error.
# , is mandatory with brackets.
(*x,) = a
print(x)

[10, 20] 10 20 <class 'list'> <class 'int'> <class 'int'>
(10, 20) 10 20 <class 'tuple'> <class 'int'> <class 'int'>
(10, 20) 10 20 <class 'tuple'> <class 'int'> <class 'int'>
(10, 20, 30, 40, 50) 10 20 [30, 40, 50] <class 'tuple'> <class 'int'> <class 'int'> <class 'list'>
[10, 20, 30, 40, 50]

### Sets

In [ ]:
# No duplicate elements allowed, It wont allow duplicate entries to be inserted.
# There is no order in set.
# Applications: Used to find unique words or duplicate elements.

a = {1, 2, 3}
print(a, type(a))

a = {1, 2, 1, 3}
print(a, type(a))

a = {True, True, False}
print(a, type(a))

a = {10, 2.0, "x", True, "Fury", ("l", "m", "n"), False, True, 1000}
print(a, type(a), len(a))

a = set((1, 2, 3, 4, 5, 3, 1))
print(a, type(a), len(a))

print(1 in a)
print("1" in a)

# Iterate over set.
for i in a:
  print(i, end = ' ')
print()

# print(a[0])
# Unique indexing, so we cannot find out what is the order of the elements.

a.add(100)
print(a)

# No error, but it will not get added.
a.add(100)
print(a)

# Convert to list.
b = list(a)
print(b)

# Extends the set with elements of b. Extending it will not violate set properties.
a = {1, 2, 3}
b = {"x", "y", "z", "x"}
a.update(b)
print(a, b)

# Extends the set with elements of list of b.
a = {1, 2, 3}
b = ["x", "y", "x", "z"]
a.update(b)
print(a, b)

# Extends the set with elements of tuple of b.
b = ("x", "y", "z")
a.update(b)
print(a, b)

# Remove will give error.
a = {"x", 10, 20.2, "Deep"}
a.remove(20.2)
print(a)

# Discard will not give error, if key is not found.
a = {"x", 10, 20.2, "Deep"}
a.discard(20.2)
print(a)

a={"x", 10, 20.2, "Deep"}
a.discard(20)

# Pops the first element.
a={"x", 10, 20.2, "Deep"}
a.pop()
print(a)

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>
{False, True} <class 'set'>
{False, True, 2.0, ('l', 'm', 'n'), 1000, 10, 'Fury', 'x'} <class 'set'> 8
{1, 2, 3, 4, 5} <class 'set'> 5
True
False
1 2 3 4 5
{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5, 100}
[1, 2, 3, 4, 5, 100]
{1, 2, 3, 'y', 'z', 'x'} {'z', 'x', 'y'}
{1, 2, 3, 'y', 'z', 'x'} ['x', 'y', 'x', 'z']
{1, 2, 3, 'y', 'z', 'x'} ('x', 'y', 'z')
{'x', 10, 'Deep'}
{'x', 10, 'Deep'}
{10, 20.2, 'Deep'}

In [ ]:
# Set Operations.

a = {"x", 10, 20.2, "Deep"}
print(a)

# Popping the elements.
b = list(a)
b.pop(0)
print(b)

# Clearing the Set.
a = {1, 2, "x"}
a.clear()
print(a)

# Proper set Operations.
a = {1, 2, 3}
b = {"x","y","z","x",1}
c = a.union(b)
print(c)

c = a.intersection(b)
print(c)

c = a.symmetric_difference(b)
print(c)

{'x', 10, 20.2, 'Deep'}
[10, 20.2, 'Deep']
set()
{1, 2, 3, 'y', 'z', 'x'}
{1}
{2, 3, 'y', 'z', 'x'}

### Dictionary

In [ ]:
# Ordered, Key-Value pairs, No Duplicate Keys.

a = {
    "day" : "Saturday",
    "month" : "October",
    "Year" : 2023
}
print(a, type(a), len(a))
print(a["day"], a["Year"])

# Left to Right Assignment it will delete left most duplicate entry.
# In Short the last Key-Value will be accpted.
a = {
    "day" : "Sunday",
    "Month" : "October",
    "Year" : 2023,
    "day" : "Saturday"
}
print(a, a["day"])


a = {
    "name" : "Night_Fury",
    "boolean" : True,
    "year" : 2004,
    "sports" : ["Cricket","Football","Tennis"]
}

print(a, type(a))
print(a["name"])

# Updating the value of a Key.
a["name"] = "VJTI"
print(a)
print(a.values(), type(a.values))

# For accessing only the values.
b = a.values()
print(b)

a["name"] = "Mumbai"
print(a, b)

# Accessing dictionary items using in-built methods.
print(a.items(), type(a.items()))

# Changing will also take place in b.
a["name"] = "Maharashtra"
print(a, b)

# New key will be added if not present.
a["Country"] = "India"
print(a)

# Checks only for key.
print("Country" in a)
print("School" in a)

# Key-Value will be added to the dictionary.
a.update({"boolean" : False})
a.update({"District" : "Mumbai"})
print(a)

a = {
    "Name" : "Deep",
    "Boolean" : "False"
}
print(a)

# It will give the value of Key : "Name"
x = a.pop("Name")
print(x)

# It will be of type tuple, Key-Value pair.
x = a.popitem()
print(x)

# The above functions removes the pairs and makes an Empty dict.
print(a, type(a))

a = {
    "name" : "Deep",
    "boolean" : True,
    "year" : 2023
}

# Iterate over Dictionary.
for i in a:
  # Prints keys.
  print(i, end = ' ')
print()

for i in a:
  # Prints values.
  print(a[i], end = ' ')
print()

for i in a.keys():
  print(i, end = ' ')
print()

for i in a.values():
  print(i, end = ' ')
print()

for i, j in a.items():
  print(i, j, end = ' ')

{'day': 'Saturday', 'month': 'October', 'Year': 2023} <class 'dict'> 3
Saturday 2023
{'day': 'Saturday', 'Month': 'October', 'Year': 2023} Saturday
{'name': 'Night_Fury', 'boolean': True, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis']} <class 'dict'>
Night_Fury
{'name': 'VJTI', 'boolean': True, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis']}
dict_values(['VJTI', True, 2004, ['Cricket', 'Football', 'Tennis']]) <class 'builtin_function_or_method'>
dict_values(['VJTI', True, 2004, ['Cricket', 'Football', 'Tennis']])
{'name': 'Mumbai', 'boolean': True, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis']} dict_values(['Mumbai', True, 2004, ['Cricket', 'Football', 'Tennis']])
dict_items([('name', 'Mumbai'), ('boolean', True), ('year', 2004), ('sports', ['Cricket', 'Football', 'Tennis'])]) <class 'dict_items'>
{'name': 'Maharashtra', 'boolean': True, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis']} dict_values(['Maharashtra', True, 2004, ['Cricket', 'Football', 'Tennis']])
{'name': 'Maharashtra', 'boolean': True, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis'], 'Country': 'India'}
True
False
{'name': 'Maharashtra', 'boolean': False, 'year': 2004, 'sports': ['Cricket', 'Football', 'Tennis'], 'Country': 'India', 'District': 'Mumbai'}
{'Name': 'Deep', 'Boolean': 'False'}
Deep
('Boolean', 'False')
{} <class 'dict'>
name boolean year
Deep True 2023
name boolean year
Deep True 2023
name Deep boolean True year 2023

In [ ]:
# Dictionary of Dictionaries.
student = {
    "student1":{"name":"Deep", "rn":221080029, "AY":2023},
    "student2":{"name":"Aditya", "rn":221080076, "AY":2023},
    "student3":{"name":"Aastha", "rn":221081023, "AY":2023}
}

print(student)
print(student["student1"]["rn"])

student1 = {"name":"Deep", "rn":221080029, "AY":2023}
student2 = {"name":"Aditya", "rn":221080076, "A":23}
student3 = {"name":"Aastha", "rn":221081023, "Y":223}

student = {
    "Student1":student1,
    "student2":student2,
    "student3":student3
}

{'student1': {'name': 'Deep', 'rn': 2201800729, 'AY': 2023}, 'student2': {'name': 'Aditya', 'rn': 221080076, 'AY': 2023}, 'student3': {'name': 'Aastha', 'rn': 22081023, 'AY': 2023}}
2201800729

### Conditional Statements.

In [ ]:
a, b, c = 1, 2, 3
if a < b:
  print(a)

# elif, short form of else if.
if b < a:
  print(a)
elif c > a:
  print(c)

if a < b : print(a)

# Short term of if-else.
print(a) if a < b else print(b)
print(a) if a > b else print(b)

# pass keyword.
if a < b:
  pass
  print("Passed")

# break - Comes out of the loop.
for i in range(0, 5):
  if i == 2:
    break
  else:
    print(i, end = ' ')
print()

# continue - Goes to the next iteration.
for i in range(0, 5):
  if i == 2:
    continue
  else:
    print(i, end = ' ')
print()

# pass is same as continue.
for i in range(0, 5):
  if i == 2:
    pass
  else:
    print(i, end = ' ')
print()

for i in range(0, 5):
  if i == 2:
    continue
  else:
    print(i, end  = ' ')
else:
  print("Finish")

1
3
1
1
2
Passed
0 1
0 1 3 4
0 1 3 4
0 1 3 4 Finish

### Collatz

In [ ]:
def Collatz(n):
    '''
    This function prints the collatz sequence.
    n is an positive integer.
    '''
    if n < 0:
      print('Please Enter Postive Number.')
      return

    a = []
    while a[-3:] != [4, 2, 1]:
      if n % 2 == 0:
        n = n / 2
      else:
        n = n * 3 + 1
      a.append(int(n))
    print(a)

# Testing the function.
Collatz(4)
Collatz(1)
Collatz(2)

[2, 1, 4, 2, 1]
[4, 2, 1]
[1, 4, 2, 1]

In [ ]:
# Taking List as Input.
a = [100]

def product(a):
  '''
  This function returns the product of all the elements of list.
  a is a list containing integers.
  '''

  # Base Case
  if len(a) == 1:
    print(a[0])
    return

  # Working
  a[0] *= a.pop()

  # Recursive Call
  product(a)

# Testing the function.
product(a)

100

### Lambda

In [ ]:
a = lambda x: x * 2
print(a(2))

a = lambda x, y, z: x * y * z
print(a(1, 2, 3))

def func(n):
  return lambda a: a * n

triple = func(3)
print(triple(11))

4
6
33

### Map

In [ ]:
def addition(n):
  return n + n

numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
number1 = [1, 2, 3]
number2 = [1, 2, 3]

result = map(lambda x, y: x + y, number1, number2)
print(list(result))

[2, 4, 6]

### Filter

In [ ]:
# The filter method filters the given sequence with the help of a function and returns the values which are true.
def func(variable):
  letters = ['a', 'e', 'i', 'o', 'u']
  if(variable in letters):
    return True
  else:
    return False

sequence = ['m', 'g', 'h', 'p', 'a', 'e']
filtered = filter(func, sequence)

print('The filtered letters are: ')
for s in filtered:
  print(s, end = ' ')

The filtered letters are:
a e

In [ ]:
sequence = [0, 1, 2, 3, 4, 5, 6, 7, 8]

# Odd Numbers
result = filter(lambda x: x & 1 != 0, sequence)
print(list(result))

# Even Numbers
result = filter(lambda x: x & 1 == 0, sequence)
print(list(result))

[1, 3, 5, 7]
[0, 2, 4, 6, 8]

### Reduce

In [ ]:
# The output is a single output value.
import functools
a = [1, 3, 5, 6, 8]

# Sum of all elements.
print(functools.reduce(lambda a, b: a + b, a))

# Largest of all elements.
print(functools.reduce(lambda a, b: a if a > b else b, a))

23
8

### Documentation

In [ ]:
def add(x, y):
  '''
  (int, int) -> int
  Return the addition of two integer number.
  '''
  return int(x) + int(y)

print(add(100.1, 100))

200

In [ ]:
help(add)

Help on function add in module __main__:

add(x, y)
    (int, int) -> int
    Return the addition of two integer number.

### Scope Of Variable

In [ ]:
# Local Scope
def abc():
  x = 1
  print(x)

abc()
# print(x)

1

In [ ]:
# Global Scope
x = 1
def abc():
  print(x)

abc()
x += 1
abc()

1
2

In [ ]:
x = 100 # Global
def abc():
  x = 1 # Local
  print(x)

abc()
print(x)

1
100

In [ ]:
# Global Keyword
def abc():
  global x
  x = 1
  print(x)

abc()
x = 100
print(x)
abc()

1
100
1

### Iterator

In [ ]:
a = ['abc', 'xyz', 'uvw']
b = iter(a)

print(a)
print(next(b))
print(next(b))
print(next(b))

['abc', 'xyz', 'uvw']
abc
xyz
uvw

### Exception Handling

In [ ]:
# Restart Runtime.
try:
  print(x)
except:
  print("Error: x is not defined")

Error: x is not defined

In [ ]:
try:
  print(1 / 0)
  print(x)
except NameError:
  print("Error: x is not defined")
except:
  print("Other Error")

Other Error

In [2]:
# else - works when no error is encountered.
try:
  print(x)
  print("Night Fury")
except:
  print("Error: x is not defined")
else:
  print("VJTI")

Error: x is not defined

In [ ]:
# finally - works everytime.
try:
  print(x)
except:
  print("Error: x is not defined")
finally:
  print("VJTI")

Error: x is not defined
VJTI

In [ ]:
while True:
  try:
    x = int(input("Please enter a number: "))
    break
  except:
    print("Oops! That was not a valid number, Try again...")

Please enter a number: 2.2
Oops! That was not a valid number, Try again...
Please enter a number: 2

In [ ]:
try:
  x = int(input("Please enter a number: "))
  y = x / 0
except ValueError:
  print("Oops! That was not a valid number, Try again...")
except:
    print("Try again...")

Please enter a number: 0
Try again...

### Raise Exception

In [3]:
import math

def square(x):
  if int(x) == 0:
    raise ValueError('Input argument cannot be Zero')
  if int(x) < 0:
    raise TypeError('Input argument cannot be Negative')

  return math.pow(int(x), 2)

try:
  y = square(input('Please Enter a number: '))
  print(y)
except(ValueError, TypeError) as e:
  print(type(e), '::', e)

<class 'TypeError'> :: Input argument cannot be Negative

In [ ]:
x = -1
if x < 0:
  raise Exception('Argument must be positive.')

In [ ]:
x = -1
if x < 0:
  raise TypeError('Argument must be positive.')

In [ ]:
import sys

randomList = ['a', 0, 2]
for entry in randomList:
  try:
    print('The entry is: ', entry)
    r1 = 1 / int(entry)
    print('The reciprocal of ', entry, 'is ', r1)
  except:
    print('Oops!', sys.exc_info()[0], ' occured')
    print('Next entry.')
    print()

The entry is:  a
Oops! <class 'ValueError'>  occured
Next entry.

The entry is:  0
Oops! <class 'ZeroDivisionError'>  occured
Next entry.

The entry is:  2
The reciprocal of  2 is  0.5

### JSON

In [ ]:
import json

In [ ]:
a = '{ "Name":"Deep", "Inst":"VJTI", "Id":221080029 }'

y = json.loads(a)
print(y, type(y))

{'Name': 'Deep', 'Inst': 'VJTI', 'Id': 221080029} <class 'dict'>

In [ ]:
a = { "Name":"Deep", "Inst":"VJTI", "Id":221080029 }
y = json.dumps(a)
print(y, type(y))

a = [1, 2, 3, 4]
y = json.dumps(a)
print(y, type(y))

a = (1, 2, 3)
y = json.dumps(a)
print(y, type(y))

a = 'Night_Fury'
y = json.dumps(a)
print(y, type(y))

a = True
y = json.dumps(a)
print(y, type(y))

{"Name": "Deep", "Inst": "VJTI", "Id": 221080029} <class 'str'>
[1, 2, 3, 4] <class 'str'>
[1, 2, 3] <class 'str'>
"Night_Fury" <class 'str'>
true <class 'str'>